{{>partials/header}}


<fieldset>
<form method="POST" action="/novo-usuario">
    <input type="text" name="name" placeholder="Digite o seu nome"/><br/><br/>
    <input type="email" name="email" placeholder="Digite o seu email"/><br/><br/>
    <input type="text" name="age" placeholder="Digite a sua idade"/><br/><br/>
    <input type="text" name="interests" placeholder="Digite os interesses separados por vigula"/><br/><br/>
    <input type="submit" value="Inserir"/>
</form>
</fieldset>

<br/>

<h3>Usuários Cadastrados</h3>
<hr/>
<ul>
 {{#users}}
    <li>{{name}} - {{age}} anos  <a href="/adicionaAno">+ 1 ano de vida</a> </li>
 {{/users}}
</ul>

{{>partials/footer}}